
@import url('https://fonts.googleapis.com/css2?family=Beau+Rivage&family=Ibarra+Real+Nova:wght@400;500&family=Lato:wght@300&display=swap');

html {
    font-size: 10px;
}

* {
    margin: 0;
    padding: 0;
    border: none;
}

body {
    font-family: Lato, sans-serif;
}

#logo > img{
    width: 5rem;
    height: auto;
    margin-left: 3rem;
    overflow: hidden;
    float: left;
}

nav {
    height: 8rem;
    background-color: rgb(255, 255, 255);
    display: flex;
    align-items: center;
    border-bottom: #000 3px solid;    
    width: 100%;    
    justify-content: space-between;
}

.heading {
    font-size: 5rem;
    font-family: Beau Rivage, sans-serif;
    padding: 5rem;
}

/* game play button*/

.container {
    width: 100vw;
    height: 60vh;
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 80rem;
    margin: 0 auto;
    padding: 2rem;
}

.flex-column {
    display: flex;
    flex-direction: column;
}

.flex-center {
    justify-content: center;
    align-items: center;
}

.question-box {
    width: 50rem;
    height: 15rem;
    font-size: 5rem;
    margin: auto;
    margin-top: 5rem;
    margin-bottom: 5rem;
    background-color: rgb(255, 0, 0);
    border: #000 1px solid;
    display: flex;
    justify-content: center;
    align-items: center;
}

.option1 {
    width: 50rem;
    height: 5rem;
    font-size: 2rem;
    font-family: Ibarra Real Nova, sans-serif;
    margin: auto;
    margin-bottom: 3rem;
    background-color: rgb(0, 255, 0);
    border: #000 1px solid;
    display: flex;
    justify-content: center;
    align-items: center;
}

.option2 {
    width: 50rem;
    height: 5rem;
    font-size: 2rem;
    font-family: Ibarra Real Nova, sans-serif;
    margin: auto;
    margin-bottom: 3rem;
    background-color: rgb(0, 255, 0);
    border: #000 1px solid;
    display: flex;
    justify-content: center;
    align-items: center;
}

.option3 {
    width: 50rem;
    height: 5rem;
    font-size: 2rem;
    font-family: Ibarra Real Nova, sans-serif;
    margin: auto;
    margin-bottom: 3rem;
    background-color: rgb(0, 255, 0);
    border: #000 1px solid;
    display: flex;
    justify-content: center;
    align-items: center;
}

.option4 {
    width: 50rem;
    height: 5rem;
    font-size: 2rem;
    font-family: Ibarra Real Nova, sans-serif;
    margin: auto;
    margin-bottom: 5rem;
    background-color: rgb(0, 255, 0);
    border: #000 1px solid;
    display: flex;
    justify-content: center;
    align-items: center;
}

.score-box {
    width: 50rem;
    height: 10rem;
    margin: auto;
    margin-bottom: 5rem;    
    
    display: flex;
    justify-content: center;
}

.correct-answers {
    width: 15rem;
    height: 6rem;
    color: rgb(255, 255, 255);
    font-size: 1.3rem;
    margin: auto;
    margin-left: 1rem;
    background-color: rgb(0, 119, 255);
    border: #000 1px solid;
    display: flex;
    justify-content: center;
    align-items: center;
}

.play-again-btn {
    width: 15rem;
    height: 6rem;
    color: rgb(255, 255, 255);
    font-size: 1.3rem;
    margin: auto;
    margin-right: 1rem;
    margin-left: 1rem;
    text-decoration: none;
    background-color: rgb(255, 0, 0);
    border: #000 1px solid;
    display: flex;
    justify-content: center;
    align-items: center;
}

.play-again-btn:hover {
    cursor: pointer;
    box-shadow: 0 0.4rem 1.4rem 0 rgba(255, 0, 0, 0.7);
    transition: transform 200ms;
    transform: scale(1.05);
}

.wrong-answers {
    width: 15rem;
    height: 6rem;
    color: rgb(255, 255, 255);
    font-size: 1.3rem;
    margin: auto;
    margin-right: 1rem;
    background-color: rgb(0, 119, 255);
    border: #000 1px solid;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* Footer */

footer {
    border-top: 3px solid;
    width: 100%;
    text-align: center;
    position: absolute;  
}

.social-networks {
    text-align: center;
    position: relative;
}

.social-networks > li {
    display: inline;
}

.social-networks i {
    font-size: 3rem;
    margin: 30px 0 30px;
    padding-inline: 5%;
    color: #000;
}

.social-networks i:hover {
	transform: scale(1.2);
	transition: .5s transform;
}

