
#question {
    display: flex;
    justify-items: center;
    width: 80%;
    background-color: rgb(126, 126, 126);
    color: rgb(255, 255, 255);
    margin: auto;    
    margin-bottom: 5rem;
    font-size: 4rem;
    padding: 2rem;
    border-radius: 4px;
    filter: opacity(100%);
}

.choice-container {
    display: flex;
    justify-items: center;
    align-items: center;
    margin: auto;
    margin-bottom: 1rem;
    padding: 1rem;
    width: 80%;
    height: 5rem;
    border: 1px solid;
    border-radius: 0.4rem;
    background-color: #e6e6e6;
    font-size: 3rem;
    filter: opacity(70%);
}

.choice-container:hover {
    cursor: pointer;
    box-shadow: 0 0.4rem 1.4rem 0 rgb(74, 74, 74);
    transform: scale(1.02);
    transition: transform 100ms;
}

.choice-container:active {
    transform: scale(1);
}

.choice-prefix {
    padding: 2rem 2.5rem;
    color: #000;
}

.choice-text {
    padding: 2rem;
    width: 100%;
}

.correct {
    background: rgb(0, 255, 0);
}

.incorrect {
    background: rgb(255, 0, 0);
}

#hud {
    width: 80%;
    margin: auto;
    margin-top: 5rem;
}

.hud-prefix {
    
    display: flex;
    justify-content: flex-end;
    text-align: center;
    font-size: 2rem;
}

.hud-main-text {
    display: flex;
    justify-content: flex-end;
    text-align: center;
}